@import 'tailwindcss';
body {
  font-family: 'Exo', sans-serif;
}
@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(25vw);
  }
}

.animate-moveRight {
  animation: moveRight 2s ease-in-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
