  @import 'tailwindcss';
@keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(25vw);
    }
  }
  
  .animate-moveRight {
    animation: moveRight 2s ease-in-out forwards ;
  }